
html,body {
    height:100%;
}
.topnav a {
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}
.topnav a:hover {
    border-bottom: 3px solid #247BFF;
}

.topnav a.active {
    border-bottom: 3px solid #247BFF;
}
div .container_right{
   padding-left:0;
}
div .customcol {
    padding-left: 3px;
    padding-right: 3px;
}
div .customrow{
    margin-right: 0;
}
.confirm_btn{
    margin-top: 3px;
    margin-bottom: 3px;
}
.confirm{
    margin: 30px 0px 3px 0px;
    width: 100%;
}
.confirm .text_confirm{
    text-align: right;
    font-weight: bold;
    margin: 5px 3px 5px 0px;
}

.table_left{
    width:auto;
    height: calc(100vh - 170px);
    height: -webkit-calc(100vh - 170px);
    overflow:auto;
}
.table_right{
    width:auto;
    height: calc(100vh - 310px);
    height: -webkit-calc(100vh - 310px);
    overflow:auto;
}
.table_right::-webkit-scrollbar, .table_pay_res::-webkit-scrollbar {
    display: none;
}
.table_left::-webkit-scrollbar {
    display: none;
}
.table_bill{
    width: 100%;
    text-align: center;
    padding: 5px;
}
/*.table_custom th,td {*/
/*    width: 200px;*/
/*    height: 50px;*/
/*}*/
/*.table td, .table th{*/
/*    vertical-align:baseline;*/
/*}*/
.container_bill{
    padding:2px 5px 0 5px;
}
.bill_content{
    margin: 2px;
    text-align: center;

}
.list_btn{
    position: absolute;
    width: 100%;
    bottom: 7px;
}
.bg-orange{
    border: orange;
    background-color: orange;
}
.bg-orange:hover {

    border:1px solid orange;
    color: black;
    background-color: white;
}
.table thead th, .table td {
    vertical-align: middle;
}
.img-thumb{
    width: 60px;
}
.table_custom td, .table_custom th {
    border-top: none;
}
/*------------------------------------------*/

@media all and (max-device-width: 720px){
    body {
        font-size: 18px;
    }
}

@media all and (max-device-width: 640px){
    body {
        font-size: 12px;
    }
}

@media all and (max-device-width: 320px){
    body {
        font-size: 10px;
    }
}


/*Scale group button in view order_pay_res*/

@media all and (max-device-width: 1024px){
    .table_pay_res{
        width:auto;
        height: calc(100% - 170px);
        height: -webkit-calc(100% - 170px);
        overflow:auto;
    }
    .table_order{
        width:auto;
        height: calc(100vh - 400px);
        height: -webkit-calc(100vh - 400px);
        overflow:auto;
    }
}
@media all and (max-device-width: 640px){
    .table_pay_res{
        width:auto;
        height: calc(100% - 270px);
        height: -webkit-calc(100% - 270px);
        overflow:auto;
    }
    .btn{
        padding: .175rem .75rem;
    }
    .table_order{
        width:auto;
        height: calc(100vh - 500px);
        height: -webkit-calc(100vh - 500px);
        overflow:auto;
    }
}
.table_custom thead,.table_custom tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
